@media(max-width:991px){
.experience{
left: 210px !important;
}
.about-bottom{
    gap: 10px !important;
}
.left-content{
    padding: 30px !important;
}
.image-side{
    padding: 0 60px;
}
.circle-badge{
    left: 0px !important;
}
.banner-text{
   display: none;
}
.product-hero-content{
        position: absolute;
    top: 100px !important;   
    right: 0;
}
.navbar .offcanvasbtn{
    font-size: 18px;
    color: #fff;
    font-weight: 700;
}

/**************** home page *******************/
.nav-glass{
    display: block;
background: transparent;
backdrop-filter: none;
border: none;
padding: 0;
}
.hero{
    height: 60vh;
}
.hero-img{
    height: 60vh;
  
}
.nav-link{
color:black!important;
font-size:16px;
}

.nav-link.active{
color:#ff9f1c !important;
}
footer{
    text-align: center;
}

.quote{
    padding: 80px 40px;
}
.faq{
    padding: 50px 40px;
}
.hero-section{
 min-height:190px !important;
background-position:center !important;
}
.banner-title{
    font-size: 15px !important;
}
.breadcrumb-text{
    font-size: 10px !important;
}

.feature-section .feature-box{
    padding: 15px;
}
.hero .hero-content h1{
    font-size: 30px !important;
}
.hero .hero-content{
    top: 60% !important;
}
}

@media(max-width:540px){
    .hero .hero-content h1{
    font-size: 18px !important;
}
.faq-image{
    width: 300px;
    height: 300px;
    margin-bottom: 15px;
    background-size: contain;
}
.faqcontact-box{
    position: absolute;
      left: 20px !important;
    font-size: 10px !important;
    gap: 15px !important;
}
.approachhero-title{
    font-size: 28px !important;
}
.mission-content{
    padding: 20px !important;
}
.team-section .history-title{
    font-size: 20px !important;
}
.product-detail-img{
    height: 270px !important;
}
.breadcrumb-text .dot i{
    font-size: 8px !important;
}
.hero-content{
    left: 0 !important;
}
}
@media(max-width:370px){
   .faq-image{
    width: 250px;
    height: 250px;
   }
   .faqcontact-box{
    font-size: 8px !important;
   }
   .img-top{
    width:160px !important;
   }
   .img-main{
    width: 250px !important;
    top: 80px !important;
   }
   .experience{
    left: 185px !important;
    top: 10px !important;
   }
}
@media(max-width:1024px){
.about-bottom{
    gap: 5px !important;
}
}

@media(min-width: 539px) and (max-width:996px){
   
}